@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Redis Types</h1>
    <p><a href="/string/">String</a></p>
    <p><a href="/list/">List</a></p>
    <p><a href="/set/">Set</a></p>
    <p><a href="/sortedset/">SortedSet</a></p>
    <p><a href="/hash/">Hash</a></p>
</div>
