@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Products">Products page</a>.</p>
    <p><a href="/Products/Show">Products/Show page</a>.</p>
    <p><a href="/Products/Remove">Products/Remove page</a>.</p>


    <p>Image: <img src="/Products/ImageUrl" alt="Alternate Text" /></p>
</div>


